* {
  font-family: Lato;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 20px;
  line-height: 20px;
  color: black;
}
	.navbar__logo {
		display: flex;
	}
	.navbar__menu {
 		display: flex;
	}
		.menu__item {
  			padding: 0 35px;
		}
	.navbar__login {
  		display: flex;
		align-items: center;
	}
		.login__signin {
  			display: flex;
  			align-items: center;
 			padding: 13px 50px;
		}
		.login__button {
  			padding: 13px 50px;
			background-color: #01996d;
			color: white;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
.header__background {
	background-image: url(img/BG.png);
	background-size: cover;
	background-repeat: no-repeat;
}	
	.background__card {
		padding: 175px 0 335px 0;
		width: 35%;
	}
		.card__title {
			font-family: Georgia;
			font-weight: bold;
			font-size: 65px;
			line-height: 74px;
			color: #01996D;
		}
		.card__content {
			font-weight: normal;
			font-size: 20px;
			line-height: 31px;
			color: #484848;
			padding: 30px 0 50px;
		}
		.card__button {
			display: inline-flex;
			align-items: center;
			padding: 20px 50px;
			background: #01996D;
			border: 1px solid #01996D;
			box-sizing: border-box;
			border-radius: 4px;
			color: white;
		}	

.main__content {
	display: flex;
	margin: 160px 0;
}
	.content__title {
		display: flex;
		flex-flow: column;
		width: 50%;
	}
		.title__upper {
			font-size: 24px;
			line-height: 150%;
		}
		.title__bottom {
			font-family: Georgia;
			font-weight: bold;
			font-size: 50px;
			line-height: 150%;
			color: #01996d;
		}
	.content__text {
		width: 50%;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		padding: 55px 20px 10px;
	}
	.main__cards-container {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	}
		.card__box {
			width: 30%;
		}
			.box__title {
				color: #01996D33;
				font-size: 150px;
				font-family: Georgia;
				line-height: 225px;
				position: relative;
			}
				.title__text {
					font-size: 30px;
					color: black;
					line-height: 45px;
					font-weight: 500;
					font-weight: bold;
					font-family: Georgia, 'Times New Roman', Times, serif;
					
				}
				.box__text {
					font-size: 20px;
					line-height: 30px;
					padding: 10px 0 60px;
				}
					.perso {
						position: absolute;
						left: 22%;
						top: 60%;
					}
					.write {
						position: absolute;
						left: 18%;
						top: 60%;
					}
					.alivio {
						position: absolute;
						left: 32%;
						top: 61%;
					}
		.box__img > img {
			width: 100%;
		}
		.box02 {
			margin: 285px 0 0;
		}
		.box03 {
			margin: 50px 0 0;
		}



a:visited,
a:link,
a:active {
  color: inherit;
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media all and (max-width: 1366px) {
	.wrapper {
		width: 100%;
	}
		.navbar {
			flex-flow: column nowrap;
			align-items: center;
		}
			.navbar__logo {
				align-self: center;
			}
			.navbar__menu {
				flex-flow: row wrap;
				justify-content: space-between;
				padding-bottom: 10px;
			}
				.menu__item {
					padding: 15px;
				}
			.navbar__login {
				justify-content: space-between;
				align-self: center;
			}
				.login__signin {
					display: flex;
					padding: 13px 20px;
					background-color: #00523a;
					color: white;
				}
		.header__background {
			/* background-size: cover; */
		}
			.background__card {
				width: 100%;
				padding: 100px 0;
			}
	.main__content {
		
	}
}
@media all and (min-width: 1024px) {
	.background__img {
		display: none;
	}
	.background__img > img {
			width: 100%;
		}
}
@media all and (max-width: 1024px) {
	.header__background {
		background-image: none;
	}
		.background__img > img {
			display: block;
			width: 100%;
		}
	.background__card {
		padding: 10px 0;
		display: flex;
		flex-flow: column nowrap;
	}
		.card__content {
			font-size: 25px;
			padding: 15px 0 35px;
		}
		.card__title > br, .card__content > br {
			display: none;
		}
	.main__content {
		flex-flow: wrap;
		margin: 50px 0;
	}
		.content__text {
			align-items: flex-start;
			padding: 0 20px;
			font-size: 25px;
		}
		.content__title, .content__text {
			padding: 10px 0;
			width: 100%;
		}
	.box__text {
		font-size: 25px;
	}
}
@media all and (max-width: 768px) {
	.card__title > br {
		display: block;
	}
	.main__content {
		margin: 50px 0;
	}
	.card__box {
		width: 100%;
	}
	.box02, .box03 {
		margin: 50px 0 0;
	}
		.alivio {
			left: 18%;
		}
}
@media all and (max-width: 360px) {
	.navbar {
		font-size: 22px;
		}
		.login__signin {
			padding: 10px 15px;
		}
		.login__button {
			padding: 10px 40px;
		}
	.title__bottom, .card__title  {
		font-size: 45px;
	}
}


